body{
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;    
}

main{
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 10px 30px 10px;
    background-color: #558b8f;
    border-radius: 10px;
    height: 100px;
    box-shadow: 1px 1px 15px #000;
}

h1{
    margin: 0;
    margin: 10px 10px 15px 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #000;
    letter-spacing: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main form input.inputText{
    background: transparent;
    color: #1a1a10;
    width: 30%;
    height: 20px;
    border-radius: 8px;
    border: 2px solid #1a1a10;
    color: antiquewhite;
}


main form input.inputText::placeholder{
    color: #1a1a10;
    font-weight: 1000;
    padding-left: 3px;
}

main form input.addBtn{
    background: #2c2c2b;
    color: #c0c0c0;
    border: 1px solid #1a1a10;
    border-radius: 5px;
    height: 20px;
    margin: 5px;
    font-weight: 700;
    width: 60px; 
}

main form input.addBtn:hover{
    background-color: #000;
    transition: 0.3s ease;
    border: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border: 0.5px solid #1a1a10;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 3px; 
    position: relative;
}
li:first-child{
    margin-top: 40px;
}
li:hover{
    background-color: gray;
    transition: 00.2s;
}

#time{
    color: #1a1a10;
    position: absolute;
    top: 0;
    margin: 7.5px;
    right: 40px;
}

button{
    color: black;
    font-size: 14px;
    background: transparent;
    text-align: right;
    margin: 7.5px 12px;
    border: none;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

button:hover{
    border-radius: 6px;
    background-color: #000;
    color: #707070;
    transition: 0.2s ease;
    border: 1px solid #3a383c;
}



